<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Your File has been Uploaded</p>
    <!-- <button href="/google">Go Back!</button> -->
    <a href="/" class="btn-book-a-table">Go Back</a>
</body>
</html>