<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <p>Your <span>Latest Uploads</span></p>
          </div>
          <table class="table mb-5 css-serial">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Document Name</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0;i<fname.length;i++) { %>
                    <tr>
                        <td></td>
                        <td><a href="/showRecieve/<%= file[i] %> ">
                                <%= fname[i] %>
                            </a></td>
                        
                    </tr>
                    <% } %>
            </tbody>
        </table>





          
    
    
  
    
</body>
</html>