<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded file</title>
</head>
<body>
    <% for(let file of files){%>
        <li><img src="<%=file.File%>"></li>
    <%}%>
</body>
</html>